<%= render 'users/user_page',user: @user %>
<%= render 'books/new_book',book: @new_book %>

<h1>Users</h1>

<table>

  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image.variant(resize: "100x100") %>
          <% else %>
            <%= image_tag "app/assets/images/no_image.jpg", width: 100, height: 100 %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= link_to "show", user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>

</table>