<%= render 'users/user_page' %>

<%= render 'books/new_book' %>

<h1>Book detail</h1>

<table>

  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to @book.title, book_path(@book) %></td>
      <td><%= @book.opinion %></td>
      <td><%= link_to "Edit", edit_book_path(@book) %></td>
      <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか?' } %></td>
    </tr>
  </tbody>

</table>